@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@theme {
  --color-deepgreen: #1b352c;
  --color-forestgreen: #2e5e4e;
  --color-purewhite: #ffffff;
  --color-mutedgold: #e2c044;
}

@tailwind utilities;
